# JetBrains IDE files
.idea/
.idea/aws.xml
.idea/local_password_generator.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
